.label {
  margin: auto;
}

.title {
  margin: 0px;

  margin-bottom: 20px;
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  margin: 20px auto 20px auto;
  align-items: center;
  border-radius: 4px;
  text-align: center;
}
